
.my-color {
	color: white;
}

.my-font {
	font-family: 'Work Sans';
}

.my-root-class {
	background: white;
}

.my-root-class body {
	/* background: url(./assets/background.svg) no-repeat center center fixed; */
	background: rgb(75, 74, 74) no-repeat center center fixed;
}
